{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}
{% block stylesheet %}
	<link href="{{ asset('css/index.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
	<header class="bg-dark py-5">
		<div class="container px-5">
			<div class="row gx-5 justify-content-center">
				<div class="col-lg-6">
					<div class="text-center my-5">
						<h1 class="display-5 fw-bolder text-white mb-2">SORTEZ DE CHEZ VOUS !</h1>
						<p class="lead text-white-50 mb-4">Participer ou organiser des sorties pour vous et votre ville</p>
						<div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
							<a class="btn btn-primary btn-lg px-4 me-sm-3" href="#">Ajouter une sortie</a>
							<a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	{# SearchBar #}
	<div class="container mt-5">
		<div class="row d-flex justify-content-center flex-wrap">
			<div class="col ">
				<div class="card p-3 py-4">
					<h5>Démerde toi à chercher une sortie</h5>
					<div class="row g-3 mt-2">
						<div class="col-md-3">

							<select class="btn btn-secondary dropdown-toggle btn-lg w-100" name="site" id="site-select">
								<ul
									class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									{# {% for site in site %} #}
									<option class="dropdown-item text-white" value="NANTES{# {{ site.id }} #}">NANTES
										{# {{
																																																																																																																																																																                                    site.nom }} #}
									</option>
									{# {% endfor %} #}
								</ul>
							</select>
						</div>
						<div class="col-md-6">
							<input type="text" class="btn-lg form-control" placeholder="Le nom de la sortie contient...">
						</div>
						<div class="col-md-3">
							<input type="submit" class="btn btn-lg btn-secondary btn-block" value="Rechercher">
						</div>
					</div>
					<div class="mt-3">
						<a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class="advanced">
							Recherche avancée
							<i class="fa fa-angle-down"></i>
						</a>
						{# RECHERCHE AVANCEE #}
						<div class="collapse" id="collapseExample">
							<div class="d-flex justify-content-evenly m-4 flex-wrap">
								<div class="d-flex flex-column flex-wrap">
									<div class="row">
										<label for="dateofbirth">Commence le :</label>
										<input type="date" name="dateofbirth" id="dateofbirth">
									</div>
									<div class="row">
										<label for="dateofbirth">Termine le :
										</label>
										<input type="date" name="dateofbirth" id="dateofbirth">
									</div>
								</div>
								<div class="">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="isSortiesOrganisateur">
										<label class="form-check-label" for="isSortiesOrganisateur">
											Sorties dont je suis l'organisateur/trice
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="isSortiesInscrit">
										<label class="form-check-label" for="isSortiesInscrit">
											Sorties auxquelles je suis inscrit/e
										</label>
									</div>
									<div class="form-check ">
										<input class="form-check-input" type="checkbox" value="" id="isSortiesPasInscrit">
										<label class="form-check-label" for="isSortiesPasInscrit">
											Sorties auxquelles je ne suis pas inscrit/e
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="isSortiesPassees">
										<label class="form-check-label" for="isSortiesPassees">
											Sorties passées
										</label>
									</div>
								</div>
							</div>
						</div>
						{# FIN RECHERCHE AVANCEE #}
					</div>
				</div>
			</div>
			{# LISTE DES SORTIES #}
			<div class="row">
				{% if sorties | length == 0 %}
					<h3 class="text-center mt-5">
						Aucun souhait trouvé !</h3>
				{% else %}
					<div class="row">
						<div class="col-md-12">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Nom de la sortie</th>
										<th>Date de sortie</th>
										<th>Clôture</th>
										<th>Inscrits/places</th>
										<th>Etat</th>
										{% if app.user %}
											<th>Inscrit</th>
										{% endif %}
										<th>Organisateur</th>
										<th>Actions</th>

									</tr>
								</thead>
								<tbody>

									{% for sortie in sorties %}
										{% if app.user %}
												<tr>
													<td>{{ sortie.nom }}</td>
													<td>{{ sortie.dateDebut |date('d/m/Y H:S') }}</td>
													<td>{{ sortie.dateLimiteInscription |date('d/m/Y') }}</td>
													<td>{{ sortie.participants | length}}
														/
														{{ sortie.nbIncriptionMax }}</td>
													<td>{{ sortie.etat.libelle }}</td>
													{% if app.user %}
														{% for participant in sortie.participants %}
															{% if app.user.id == participant.id %}
																<td>
																	X
																</td>

															{% else %}
																<td></td>
															{% endif %}
														{% endfor %}
													{% endif %}
													<td>
														<a href="{{ path('profil/detail', {'id': sortie.organisateur.id} ) }}">{{ sortie.organisateur.pseudo }}</a>
													</td>
													{# BOUTON ACTIONS EN FONCTIONS DE CONDITIONS #}
													<td>
														<a href="{{ path('sortie/detail', {'id': sortie.id}) }}" class="btn btn-primary">Voir</a>
														{# SI L'USER CURRENT EST INSCRIT A LA SORTIE #}
														{% for participant in sortie.participants %}
															{% if participant.id == app.user.id %}
																<a href="{{ path('sortie/desubscribe', {'idUser': app.user.id}, {'idSortie': sortie.id}) }}" class="btn btn-danger">Se désister</a>
															{% endif %}
														{% endfor %}
														{# SI L'USER CURRENT EST L'ORGANISATEUR DE LA SORTIE #}
														{% if sortie.organisateur.id == app.user.id %}
															<a href="{{ path('sortie/delete', {'id': sortie.id}) }}" class="btn btn-danger">Annuler</a>
														{% endif %}
													</td>
												</tr>
										{% else %}
											{# LISTE DE TOUTES LES SORTIES CREER PAR L'USER CURRENT ET EST PAS ENCORE PUBLIE#}
											<tr>
												<td>{{ sortie.nom }}</td>
												<td>{{ sortie.dateDebut |date('d/m/Y H:S') }}</td>
												<td>{{ sortie.dateLimiteInscription |date('d/m/Y') }}</td>
												<td>{{ sortie.nbInscriptionMax | length}}
													/
													{{ sortie.nbInscriptionMax }}</td>
												<td>{{ sortie.etat.libelle }}
												</td>
												{% if app.user %}
													{% for participant in participants %}
														{% if app.user.id == participant.id %}
															<td>
																X
															</td>

														{% else %}
															<td></td>
														{% endif %}
													{% endfor %}
												{% endif %}
												<td>
													<a href="{{ path('profil/detail', {'id': sortie.organisateur.id} ) }}">{{ sortie.organisateur.pseudo }}</a>
												</td>

												<td>
													<a href="{{ path('sortie/update', {'id': sortie.id}) }}" class="btn btn-warning">Modifier</a>
													<a href="{{ path('sortie/publish', {'id': sortie.id}) }}" class="btn btn-succes">Publier</a>
												</td>
											</tr>
										{% endif %}
									{% endfor %}
								</tbody>
							</tbody>
						</table>
					</div>
				</div>

			{% endif %}
		</div>
	</div>
</div>{% endblock %}
