{% extends 'base.html.twig' %}

{% block title %}A propos de nous - Sortir.com
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/about_us.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}

<div class="header">

</div>

<div class="containerA">
   
   <div class="about">
      <div class="left">
         <h1 class="titre" >A propos de nous</h1>
         <hr class="barre">
         <p>Bien haut dans la montagne, là où ne parvient pas l'écho de la voix humaine, il y a très longtemps, se trouvait un petit temple fait de poutres de bois à moitié pourries et qui abritait un puissant esprit, le génie de la montagne. C'était un esprit orgueilleux. Ah! comme il aimait se moquer de son "collègue", celui d'en bas, le génie gardien de la ville. L'esprit de la montagne aimait briller auprès de lui et même aussi le vexer.
             A son anniversaire, tout au long du jour, les gens des alentours lui apportèrent leurs offrandes: toutes sortes de bonnes choses à manger dignes d'un grand seigneur. L'esprit de la montagne décida alors d'inviter son "ami" pour lui faire voir les magnifiques présents qu'il avait reçus.
             "Quand il verra comment les gens me soignent, songeait-il, il en pâlira de jalousie! "
             L'autre, en arrivant, sentait déjà de loin la bonne odeur de toutes les sucreries et la fumée de l'encens. Il pénétra dans le temple et vit son rival vautré au milieu de toutes ces bonnes choses. Le génie de la montagne faisait le blasé tandis que celui de la ville n'arrivait pas à formuler ses salutations, tant la salive lui inondait la bouche.
             - Je ne sais pas ce qu'ils ont, ces gens, disait le génie de la montagne, faisant semblant de ne pas entendre gargouiller le ventre de son invité. Ils arrivent toujours en grand nombre et se mettent à prier: " Esprit par-ci, Esprit par-là, Bon Génie, aide-moi ; délivre-moi de mes ennuis ; fais que ma récolte de riz soit meilleure ; jette un sort à la vache de mon voisin." C'est pareil chaque fois. Bien sûr, pour cela, ils m'apportent toujours quelque chose, mais pour te dire la vérité, poursuivit l'Esprit de la montagne d'un ton dégoûté, moi j'en ai assez de tous ces gâteaux au miel, je suis lassé de cette fumée d'encens qui commence à me faire tourner le coeur. Et il se mit à tousser avec affectation..</p>


      </div>
      <div class="right">
         <img src="https://res.cloudinary.com/arpr/image/upload/v1540359700/adult-affection-baby-755028.jpg">
      </div>
      <div class="clear"></div>
   </div>
   
   
   
   <div class="mission">
     
      <div class="left">
         <img src="https://res.cloudinary.com/arpr/image/upload/v1540359700/adult-affection-baby-755028.jpg">
      </div>
        <div class="right">
         <h1 class="titre">Notre mission</h1>
         <hr class="barre">
         <p>Pour créer un site, le développeur réalise plusieurs tâches :

             il analyse les besoins de son client et des futurs utilisateurs du site,
             il imagine l’architecture du site, c’est à dire la manière dont le site sera organisé, en fonction des besoins du client,
             le développeur réalise un cahier des charges : il traduit les instructions du client et l’architecture imaginée en tâches techniques à réaliser,
             il choisit le langage et la technologie la plus adaptée au produit qu’il doit développer, car il existe plusieurs langages de programmation informatique (Java, J2EE, Net, PHP, C++, etc.),
             le développeur web commence l’écriture (« la programmation ») des instructions dans le langage choisi,
             il teste et corrige régulièrement ses lignes de code pour s’assurer que tout fonctionne. Une seule virgule au mauvais endroit peut rendre la programmation inefficace ou créer des problèmes sur le site,
             une fois que l’interface est finie et qu’elle est fonctionnelle, il la rend au client ou la met en ligne,
             après la mise en production, il assure le suivi et le bon fonctionnement du site. Il s’occupe des mises à jour, de la maintenance et de la correction des bugs. Il peut également ajouter de nouvelles fonctionnalités à la demande du client. Pour cela, il ajoute des lignes de code à la structure déjà établie.
             Si le développeur est freelance (généralement micro-entrepreneur), il doit également s’occuper de la gestion administratives (déclarations, comptabilité…), et du démarchage des clients pour faire grossir son entreprise. Il est aussi équipé d’un smartphone, disque dur externe, tablette.</p>

      </div>
      <div class="clear"></div>
      
   </div>
   
   
  
       <div class="team">
      <h1 class="titre"> Notre team<hr class="barre"></h1>
          
          
          
      <div  class="cardA">
         <div class="circle-containerA">
                <img class="circle-containerA" src="{{ asset('img/Jeff-Bezos.jpg')}}">
         </div>
         <h3>Jeff Bezoz</h3>
         <h4>Directeur Marketing</h4>
         <p>Après un échec de sa petite entreprise "Amazon", il rejoint notre boîte pour le fun.</p>
      </div>
          
          
          
      <div class="cardA">
         <div class="circle-containerA">
                <img class="circle-containerA" src="{{ asset('img/Bill-Gates.jpg')}}">
         </div>
         <h3>Bill Gates</h3>
         <h4>Responsable technique</h4>
          <p>Il a fabriquer tous les ordinateurs de l'entreprise de ses propres mains.</p>
      </div>
          
          
          
      <div class="cardA">
         <div class="circle-containerA">
                <img class="circle-containerA" src="{{ asset('img/Einstein.jpg')}}">
         </div>
         <h3>Einstein</h3>
         <h4>Concepteur du temps</h4>
          <p>Il a découvert le voyage dans le temps, il est allée dans le futur, il a vu qu'on avait percé.</p>
      </div>
          
          
          
      <div class="cardA">
        <div class="circle-containerA">
             <img class="circle-containerA" src="{{ asset('img/Mohammed-Ali.jpeg')}}">
         </div>
         <h3>Mohammed Ali</h3>
         <h4>Chef de la sécurité</h4>
          <p>Après une petite carrière dans la boxe, besoin de se rassurer, c'est pour ça qu'il nous à rejoint.</p>
      </div>
          
             <div class="cardA">
         <div class="circle-containerA">
                <img class="circle-containerA" src="{{ asset('img/Brad-Pitt.jpg')}}">
         </div>
         <h3>Brad pitt</h3>
         <h4> Directeur Commerciale</h4>
         <p>Avant de rejoindre l'entreprise, il se trouvait pas beau. Now, il tourne des films quand il a le temps.</p>
      </div>
          
          
          
      <div class="cardA">
        <div class="circle-containerA">
            <img class="circle-containerA" src="{{ asset('img/mec-random.jpg')}}">
         </div>
         <h3>Un mec random</h3>
         <h4> On sait pas trop</h4>
          <p>Enfaîte j'ai perdu un pari quand j'étais bourré et j'ai embauché ce mec mais je m'en souviens plus.</p>
      </div>

   </div>

</div>
{% endblock %}