{% extends 'admin/base.html.twig' %}
{% block title %}Gestion des participants{% endblock %}

{% block body %}
    <div class="content-container mx-2">
        <div class="container-fluid">
            <div class="jumbotron">
                <h1 class="">{{ titre }}</h1>
                <p class="font-italic">Tapez quelque chose dans le champ de saisie pour rechercher dans le
                    tableau.</p>
                <div class="d-flex align-items-center">
                    <input class="form-control" id="myInput" type="text" placeholder="Search..">
                </div>

            </div>
            {% for label,messages in app.flashes %}
            {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endfor %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Pseudo</th>
                        <th scope="col">Email</th>
                        <th scope="col">Sortie (orga)</th>
                        <th scope="col">Sortie</th>
                        <th scope="col">Rôle</th>
                        <th scope="col">Actif</th>
                        <th scope="col">Actions Rapides</th>
                    </tr>
                    </thead>
                    <div>
                        <tbody id="myTable">
                        {% for participant in participants %}
                        <tr>
                            <th scope="row">{{ participant.id }}</th>

                            <td>
                                <a href="{{ path('profil', {'id': participant.id} ) }}">{{ participant.pseudo }}  </a>
                            </td>
                            <td>{{ participant.email }}</td>
                            <td> {% if participant.SortiesOrganisees|length > 0 %}
                                    <a href="" data-toggle="modal" data-target="#modal-orga {{ participant.id }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-card-list" viewBox="0 0 16 16">
                                            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                            <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                                        </svg>
                                    </a>

                                {% endif %}
                            </td>
                            {# Fenetre modal : Affichage des sorties organisées #}
                            <div class="modal fade bd-example-modal-lg" id="modal-orga {{ participant.id }}"
                                 tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <h2>Listes des sorties organisées</h2>
                                            {% for sortie in participant.SortiesOrganisees %}
                                                <li>{{ sortie.nom }}</li>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <td>{% if participant.sorties|length > 0 %} <a href="" data-toggle="modal"
                                                                   data-target="#modal-part {{ participant.id }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-card-list" viewBox="0 0 16 16">
                                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                            </svg>
                        </a>
                        {% endif %}
                    </td>
                    {# Fenetre modal : Affichage des sorties en tant que participant #}
                    <div class="modal fade bd-example-modal-lg" id="modal-part {{ participant.id }}" tabindex="-1"
                         role="dialog"
                         aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h2>Listes des sorties en tant que participant</h2>
                                    {% for sortie in participant.sorties %}
                                        <li>{{ sortie.nom }}</li>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <td>
                <a href="{{ path('app_admin_role', {'id': participant.id}) }}" data-toggle="tooltip"
                   data-placement="top" title="Changement role">
                {% if participant.isAdmin %}<span class="badge badge-danger">admin</span>{%  else %}<span class="badge badge-primary">user</span>   {% endif %}
            </a>


            </td>
            <td>{% if participant.isActif %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-check-lg" viewBox="0 0 16 16">
                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"
                              fill="#000"/>
                    </svg> {% endif %}</td>
            <td>

                <a href="{{ path('app_admin_delete_participant', {'id': participant.id}) }}" data-toggle="tooltip" data-placement="top" title="Supprimer"
                   class="btn btn-danger disable">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd"
                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </a>
                {% if participant.isActif %}
                    <a href="{{ path('app_admin_inactif', {'id': participant.id}) }}" data-toggle="tooltip"
                       data-placement="top" title="Rendre inactif"
                       class="btn btn-warning">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-lock" viewBox="0 0 16 16">
                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
                        </svg>
                    </a>
                {% else %}
                    <a href="{{ path('app_admin_actif', {'id': participant.id}) }}" data-toggle="tooltip"
                       data-placement="top" title="Rendre actif"
                       class="btn btn-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-unlock" viewBox="0 0 16 16">
                            <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2zM3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1H3z"/>
                        </svg>
                    </a>
                {% endif %}
            </td>
            {% endfor %}

            </tbody>
            </table>
        </div>
    </div>
    </div>
    </div>
    <script>
        {# Filtre Bootstrap #}
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
        {# Affichage des infos bulles #}
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
