{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}

    <h2>Créer une sortie</h2>

    <div class="container">
        <div class="row">

            {%  for item in errors %}
            <div class="alert alert-danger mt-2" role="alert">
                {{ item.message }}
            </div>
            {%  endfor %}
            <div class="row">

            <div class="col">
                {{ form_start(formSortie) }}
                <form action="{{ path("app_sortie_ajouter") }}" method="post">
                    <div class="mb-3">
                        <label class="form-label" for="nom">Nom de la sortie :</label>
                        <input type="text" name="{{ field_name(formSortie.nom) }}"
                               value="{{ field_value(formSortie.nom) }}" class="form-control"
                               id="exampleFormControlInput1">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Date et heure de la sortie :</label>
                        <input type="datetime-local" class="form-control"
                               value=""

                               name="dateDebut">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Date limlite d'inscription</label>
                        <input type="datetime-local" class="form-control"
                               value=""
                               name="dateLimiteInscription">
                    </div>


                    <div class="mb-3">
                        <label class="form-label">Nombre d'inscription Max</label>
                        <input type="number" class="form-control" value="{{ field_value(formSortie.nbIncriptionMax) }}"
                               name="{{ field_name(formSortie.nbIncriptionMax) }}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Durée ?</label>
                        <input type="number" class="form-control" value="{{ field_value(formSortie.duree) }}"
                               name="{{ field_name(formSortie.duree) }}" step=15> minutes
                    </div>


                    <div class="mb-3">
                        <label class="form-label">Description et infos</label>
                        <textarea class="form-control" id="{{ field_name(formSortie.description) }}"
                                  name="{{ field_name(formSortie.description) }}"
                                  rows="3">{{ field_value(formSortie.description) }}</textarea>
                    </div>
            </div>

{#             Col 2#}
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">Ville Organisatrice</label>
                    <input type="text" class="form-control" value="" name="site" disabled="disabled">
                </div>

{%  if app.user %}
                    <input type="hidden" class="form-control" value="{{ app.user.id }}" name="test">
{%  endif %}
                <div class="mb-3">
                    <label class="form-label">Ville</label>
                    <input type="text" class="form-control" value="" name="">
                </div>
                <div class="mb-3">
                    <label class="form-label">Lieu</label>
                    {{ form_widget(formSortie.lieu) }}<img src="{{ asset('img/add-point.svg') }}"
                                                           style="width: 30px;height: 30px;" alt=""></a>
                </div>
                <div class="mb-3">
                    <label class="form-label">Rue</label>
                    <input type="text" class="form-control" value="" name="" disabled="disabled">
                </div>
                <div class="mb-3">
                    <label class="form-label">Code Postal</label>
                    <input type="text" class="form-control" value="" name="" disabled="disabled">
                </div>
                <div class="mb-3">
                    <label class="form-label">Latitude</label>
                    <input type="text" class="form-control" value="" name="" disabled="disabled">
                </div>
                <div class="mb-3">
                    <label class="form-label">Longitude</label>
                    <input type="text" class="form-control" value="" name="" disabled="disabled">
                </div>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script>
                    $(document).ready(function(){
                        $("#sortie_lieu").change(function(){
                            //alert("coucou");
                            var id = $(this).val();

                            $.get("/get-code-p/"+id, function(data, status){

                                var res=JSON.parse(data);
                                $("#latitude").val(res);
                            });
                        });
                    });
                </script>
                <input type="text" class="form-control" readonly value="" id="latitude">

            </div>
{#             Line 3 - Button#}
            <div class="row">
                <div class="col">
                    <button type="submit" name="save" id="{{ field_name(formSortie.save) }}" class="btn btn-primary">Enregistrer</button>
                </div>
                <div class="col">
                    <button type="submit" name="publish" id="{{ field_name(formSortie.add) }}" class="btn btn-primary">Publier la
                        sortie
                    </button>
                </div>
                <div class="col">
                    <button type="submit" id="{{ field_name(formSortie.cancel) }}" value="cancel" class="btn btn-primary">Annuler</button>
                </div>

            </div>
        </div>

    </div>
    {# {{ path('app_add',{'id':sortie.id}) }} #}
{#    {{ form_widget(formSortie._token) }}#}
    </div>
    {{ form_rest(formSortie) }}
    {{ form_end(formSortie) }}
{% endblock %}
