{% extends 'base.html.twig' %}

{% block title %}Annuler une sortie - Sortir.com
{% endblock %}

{% block body %}
	<div class="container">

		<form action="{{ path('app_sortie_cancel', {'id': 0}) }}" method="post">
			<div class="logo mb-3">
				<div class="col-md-12 text-center mt-5 mb-5">
					<h1>
						Annuler une sortie</h1>
				</div>
			</div>

			<div class="row">
				<h1 class="col text-center">
					{{ sortie.nom }}
				</h1>
			</div>
			<div class="row">
				<p class="col">
					Date de la sortie :
				</p>
				<p class="col">
					{{ sortie.dateDebut | date('d/m/Y') }}
				</p>
			</div>
			<div class="row">
				<p class="col">
					Ville organisatrice :
				</p>
				<p class="col">
					{{ sortie.site.id | upper }}
				</p>
			</div>

			<div class="row ">
                <p class="col"> Lieu : </p>
				<p class="col">
					{{ sortie.lieu.nomLieu}} <br>
					{{ sortie.lieu.rue}} <br>
					{{ sortie.lieu.ville.codePostal}} {{ sortie.lieu.ville.nomVille}}
				</p>
			</div>
			<div class="d-flex justify-content-around">
				<button name="btn-cancel" class="btn btn-lg btn-primary">
					Enregistrer
				</button>
				<a href=" {{ path('app_Annuler')}}" class="btn btn-lg btn-primary">
					Annuler
				</a>
			</div>


		</form>

	</div>
</div></form>{% endblock %}
