<!doctype html>
<html lang="en">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="{{ asset('img/favicon.png') }}" type="image/x-icon">
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">


		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet"> 
		<link rel="shortcut icon" href="{{ asset('img/together.png') }}" type="image/x-icon">
		<link href="{{ asset('css/style.css') }}" type="stylesheet">

		{% block stylesheets %}{% endblock %}
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>


	</head>

	<body>


		<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 sticky-top">
			<img src="{{ asset('img/daco.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
			<a class="navbar-brand" href="{{ path('main') }}">
				<span class="name pull-left">SORTIE.COM</span>


			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto topnav">

					<ul class="nav navbar-nav navbar-right align-items-center mr-3">


						{% if app.user %}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									{%  if app.user.isAdmin %}
										<span class="badge badge-danger">admin</span>
									{% endif %}
									{{ app.user.pseudo | upper }}
									{% if app.user.avatarFilename %}
										<img src="{{ asset('uploads/avatars/' ~ app.user.avatarFilename)}}" class="avatar" alt=""/>
									{% endif %}
								</a>

								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="{{ path('app_modifier', {'id': app.user.id} ) }}">Mon profil</a>
									<a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
									{%  if app.user.isAdmin %}
										<div class="dropdown-divider"></div>
										<span class="dropdown-item font-weight-bold">Administration</span>
										<a class="dropdown-item" href="#">Gestion des Sites</a>
										<a class="dropdown-item" href="#">Gestion des Villes</a>
									</div>
								</li>
							{% endif %}
						</a>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
						</li>
					{% endif %}
				</ul>
			</div>

		</nav>
		{% block body %}{% endblock %}

		{% block fanch %}{% endblock %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		{% block javascripts %}
			{# {{ encore_entry_script_tags('app') }} #}
		{% endblock %}

	</body>
	<!-- Footer -->
	<footer
		class="text-center text-lg-start bg-light text-muted">
		<!-- Section: Social media -->
		<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"></section>
		<!-- Section: Social media -->

		<!-- Section: Links  -->
		<section class="">
			<div
				class="container text-center text-md-start mt-5">
				<!-- Grid row -->
				<div
					class="row mt-3">
					<!-- Grid column -->

					<div
						class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">


						<!-- Content -->
						<h6 class="text-uppercase fw-bold mb-4">
							<i class="fas fa-gem me-3"></i>SORTIR.COM
						</h6>


						<p>
							Mais pourquoi attendre plus longtemps, inscrivez vous !
														                        À bientôt sur Sortie.com !
						</p>
					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div
						class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold mb-4">
							Sommaire
						</h6>
						<p>
							<a href="{{ path('main') }}" class="text-reset">Accueil</a>
						</p>
						<p>

							<a href="{{ path('app_sortie_add') }}" class="text-reset">Ajouter une sortie</a>
						</p>
						<p>
							<a href="{{ path('cgu') }}" class="text-reset">CGU</a>
						</p>
					</div>
					<!-- Grid column -->


					<!-- Grid column -->
					<div
						class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold mb-4">
							Contact
						</h6>
						<p>
							INDIAN, IPA 1664, HK</p>
						<p>

							contact@sortir.com
						</p>
						<p>
							+ 02 45 78 41 65</p>
						<p>
							+ 06 45 87 26 45</p>
					</div>
					<!-- Grid column -->
				</div>
				<!-- Grid row -->
			</div>
		</section>
		<!-- Section: Links  -->

		<!-- Copyright -->
		<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
			© 2021 Copyright:
			<a class="text-reset fw-bold" href="{{ path('main') }}">Sortir.com</a>
		</div>
		<!-- Copyright -->

	</footer>
	<!-- Footer -->

	{# VERIFIE SI L'USER EST CONNECTEE DANS LE JS #}
	<div
		class="js-user-rating" data-is-authenticated="{{ app.user ? 'true' : 'false' }}"><!-- ... -->
	</div>
	{# VERSION MOBILE - REDIRIGE VERS LA PAGE DE LOGIN SI USER PAS CONNECTEE#}
	<script>
		const LARGEUR_SMARTPHONE = 767;
let largeur = window.innerWidth;
var url = window.location.pathname;

// Si l'écran du navigateur est plus petit que 767px (taille smartphone)
if (largeur < LARGEUR_SMARTPHONE) { // On regarde si l'user est connectée sinon on redirige vers la page login
	document.addEventListener('DOMContentLoaded', function () 
	{
		let isAuthenticated = $('.js-user-rating').data('isAuthenticated');
		if (! isAuthenticated && url != '/login') {
		window.document.location = '{{ path('app_login') }}';
	}
	});
}
	</script>
	<script type="text/javascript" src="{{ asset('js/smartphone.js')}}"></script>
	<script type="text/javascript" src="{{ asset('js/stickynavbar.js')}}"></script>

</html>
